<h1>Available repository's</h1>
<ul>
  <li (click)="this.route.navigate(['/repo', 'system'])">
    <h2>System</h2>
    <small class="pkgs"><b>{{ this.repo.system.length }}</b> packages</small>
    <p>Contains all important packages to run instantLinux. Like GCC or systemd.</p>
  </li>
  <li>
    <h2>Base</h2>
    <p>Includes simple software that not actually needed to run instantLinux but necessary to use instantLinux.</p>
  </li>
</ul>