ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    height: 5%;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    
    /* Background */
    background-color: rgba(36, 36, 36, 0.5);
    transition: 0.5s;
}

ul li:hover {
    background-color: rgba(54, 54, 54, 0.5);
    transition: 0.5s;
}

ul li h2 {
    padding-left: 15px;
}

ul li p {
    border-top: 1px solid rgba(226, 226, 226, 0.5);
    padding-left: 15px;
    padding-top: 10px;
}

ul li small {
    text-align: right;
}