.headline h1 {
    text-transform: uppercase;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    height: 5%;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.55);
    
    /* Background */
    background-color: rgba(36, 36, 36, 0.5);
    transition: 0.5s;
}

ul li:hover {
    background-color: rgba(54, 54, 54, 0.5);
    transition: 0.5s;
}

ul li img {
    width: 64px;
    height: 64px;
}

ul li .name {
    margin-left: 20px;
    font-weight: 700;
    text-align: left;
    min-width: 180px;
}

ul li .version {
    text-align: left;
}

ul li .desc {
    padding-left: 20px;
}