<div class="headline">
  <h1>{{ this.repoName }}</h1>
</div>
<ul>
  <li *ngFor="let pkg of packages">
    <img src="http://localhost:1337/{{ this.repoName }}/{{ pkg.name }}/icon">
    <p class="name">{{ pkg.name }}</p>
    <p class="desc" (click)="this.navigateTo()">{{ pkg.description }}</p>
  </li>
</ul>