ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    width: 200px;
    height: 250px;
    background: rgba(36, 36, 36, 0.5);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

ul li:hover {
    transform: scale(1.04);
}

ul li img {
    width: 90%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
}

ul li p {
    color: #d9d9d9;
    padding: 15px 0;
    margin: 0;
    font-family: 'Raleway', Arial;
    letter-spacing: 0.05em;
    font-size: 12pt;
    font-weight: 700;
}

ul li small {
    color: #d9d9d9;
    padding: 10px 0;
    margin: 0;
    font-family: 'Raleway', Arial;
    letter-spacing: 0.05em;
    font-size: 12pt;
    font-weight: 300;
}

ul li p.icon {
    color: #d9d9d9;
    line-height: 180px;
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: 'Raleway', Arial;
    letter-spacing: 0;
    font-size: 170px;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
}