<ul>
  <li>
    <p class="icon">+</p>
    <p>Add</p>
  </li>
  <li *ngFor="let pkg of mypkgs">
      <img src="{{ pkg.icon }}" />
      <p style="padding-bottom: 0px">{{ pkg.title }}</p>
      <small>{{ pkg.version }}</small>
  </li>
</ul>