.pkgview {
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(36, 36, 36, 0.5);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}

.pkgview h2 {
    color: #d9d9d9;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', Arial;
    letter-spacing: 0.05em;
    font-size: 24pt;
    font-weight: 700;
}

.pkgview pre {
    color: #d9d9d9;
    padding: 20px 0;
    margin: 0;
    letter-spacing: 0.05em;
    font-size: 12pt;
    font-weight: 300;
}

.pkgcontainer img {
    width: 128px;
    height: 128px;
    display: inline-block;
    display: flex;
    -webkit-filter: drop-shadow(0px 0px 0 rgba(0,0,0,0.2))
                  drop-shadow(-5px -5px 0 rgba(0,0,0,0.2));
    filter: drop-shadow(0px 0px 0 rgba(0,0,0,0.2)) 
            drop-shadow(-5px -5px 0 rgba(0,0,0,0.2));
}

.pkgcontainer .pkgdetails {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}

.pkgcontainer .pkgdetails p {
    color: #d9d9d9;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    font-family: 'Raleway', Arial;
    letter-spacing: 0.05em;
    font-size: 12pt;
    font-weight: 300;
}

.pkgcontainer .pkgdetails ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.pkgcontainer .pkgdetails ul li {
    color: #d9d9d9;
    padding: 0;
    line-height: 1.8;
    margin: 0;
    font-family: 'Raleway', Arial;
    letter-spacing: 0.05em;
    font-size: 12pt;
    font-weight: 300;
}

.pkgcontainer .pkgdetails ul li strong {
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

ul li a {
    color: #999999;
    padding: 0;
    line-height: 1.8;
    margin: 0;
    font-family: 'Raleway', Arial;
    letter-spacing: 0.05em;
    font-size: 12pt;
    font-weight: 700;
    text-decoration: none;
}