<div class="pkgview">
  <div class="title">
      <h2>{{ pkg.name }}</h2>
      <pre>iinstall {{ pkg.name }}</pre>
  </div>
  <div class="pkgcontainer">
    <img src="http://localhost:1337/{{pkgRepository}}/{{pkg.name}}/icon">
    <div class="pkgdetails">
      <p>{{ pkg.description }}</p>
      <ul>
        <li><strong>Lizenz:</strong> {{ pkg.license }}</li>
        <li><strong>Version:</strong> {{ pkg.version }}</li>
        <li><strong>Downloads: </strong> {{ pkg.downloads }}</li>
      </ul>
    </div>
  </div>
  <ul>
    <li><a href="#">Source-Dateien</a></li>
    <li><a href="#">inp-Snapshot</a></li>
  </ul>
</div>