h2 {
    color: #d9d9d9;
    padding: 30px;
    margin: 0;
    font-family: 'Raleway', Arial;
    letter-spacing: 0.05em;
    font-size: 24pt;
    font-weight: 700;
}

h3 {
    color: #d9d9d9;
    padding: 30px;
    margin: 0;
    font-family: 'Raleway', Arial;
    letter-spacing: 0.05em;
    font-size: 16pt;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 30px;
    cursor: pointer;
}

ul li img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

ul li p {
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
    margin: 0 20px;
    color: #d9d9d9;
    font-family: 'Raleway', Arial;
    letter-spacing: 0.05em;
    font-size: 12pt;
    font-weight: 300;
}