<h2>Search Results for &quot;{{ searchquery }}&quot;</h2>

<ul>
    <li *ngFor="let pkg of searchresults">
        <img src="{{ pkg.icon }}" />
        <p>{{ pkg.title }}</p>
    </li>
</ul>

<h3>RFE Results</h3>

<ul>
    <li *ngFor="let pkg of searchresultsrfe">
        <img src="{{ pkg.icon }}" />
        <p>{{ pkg.title }}</p>
    </li>
</ul>