<div id="loginscreen">
  <h2>Login</h2>
  <p>Enter your login credencials.</p>

  <form>
    <input [(ngModel)]="user" type="text" placeholder="Username" name="username"><br>
    <input [(ngModel)]="pass" type="password" placeholder="Password" name="password"><br>

    <input (click)="login()" type="submit" value="Login">
    <p style="font-size: 10pt; color: red" *ngIf="this.account.loginResponse == 401">Login credencials are wrong</p>
  </form>

</div>