#loginscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    min-height: 400px;
    width: 20%;
    height: 20%;
    background: rgba(36, 36, 36, 0.5);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
    transform: translate(-50%, -50%);
    text-align: center;
}

#loginscreen h2 {
    color: #d9d9d9;
    padding-top: 25px;
    padding-bottom: 0px;
    margin: 0;
    font-family: 'Raleway', Arial;
    letter-spacing: 0.05em;
    font-size: 24pt;
    font-weight: 700;
}

#loginscreen p {
    color: #d9d9d9;
    padding: 40px 0;
    margin: 0;
    font-family: 'Raleway', Arial;
    letter-spacing: 0.05em;
    font-size: 14pt;
    font-weight: 300;
}

#loginscreen input[type=text], 
        #loginscreen input[type=password] {
    padding: 8px 10px;
    margin: 12px 0;
    border: 0;
    outline: 0;
    width: 70%;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(217, 217, 217, 0.15);
    color: #d9d9d9;
    transition: 0.4s;
    font-family: 'Raleway', 'Arial';
    font-weight: 300;
    font-size: 14px;
}

#loginscreen input[type=text]:focus, 
        #loginscreen input[type=text]:hover, 
        #loginscreen input[type=password]:focus, 
        #loginscreen input[type=password]:hover {
    border-bottom: 1px solid rgba(217, 217, 217, 0.7);
}

#loginscreen input[type=submit] {
    cursor: pointer;
    padding: 16px 35px;
    margin: 0;
    margin-top: 40px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(217, 217, 217, 0.15);
    transition: 0.4s;
    outline: none;
}

#loginscreen input[type=submit]:hover,
        #loginscreen input[type=submit]:focus {
    border: 1px solid rgba(217, 217, 217, 0.5);
    background: rgba(217, 217, 217, 0.2);
}