<nav>
  <ul>
    <a routerLink="home"><li class="active"><i class="fa fa-home"></i>Dashboard</li></a>
    <a routerLink="mypkgs" *ngIf="this.account.loggedIn"><li>
      <span style="padding: 6.5px;"><svg style="color: #d9d9d9;" width="18" height="14" class="octicon octicon-package" version="1.1" aria-hidden="true"><path fill="#d9d9d9" fill-rule="evenodd" d="M1 4.27v7.47c0 .45.3.84.75.97l6.5 1.73c.16.05.34.05.5 0l6.5-1.73c.45-.13.75-.52.75-.97V4.27c0-.45-.3-.84-.75-.97l-6.5-1.74a1.4 1.4 0 0 0-.5 0L1.75 3.3c-.45.13-.75.52-.75.97zm7 9.09l-6-1.59V5l6 1.61v6.75zM2 4l2.5-.67L11 5.06l-2.5.67L2 4zm13 7.77l-6 1.59V6.61l2-.55V8.5l2-.53V5.53L15 5v6.77zm-2-7.24L6.5 2.8l2-.53L15 4l-2 .53z"></path></svg></span>
      My Packages</li></a>
    <a routerLink="repos"><li><i class="fa fa-truck"></i>Repositories</li></a>
    <a routerLink="rfepkgs"><li><i class="fa fa-code"></i>RFE Packages</li></a>
  </ul>
</nav>

<header>
  <ul>
    <a routerLink="home"><li><h1>InstantLinux <small>Packages</small></h1></li></a>
    <li><form (submit)="searchPkg()"><input name="searchinput" type="search" placeholder="Search for a package" [(ngModel)]="searchText"></form></li>
    <li *ngIf="this.account.loggedIn" (click)="this.account.logout()"><a>Logout</a></li>
    <li *ngIf="!this.account.loggedIn"><a routerLink="login">Login</a></li>
  </ul>
</header>

<div class="main">
  <router-outlet></router-outlet>
</div>
  