// HEADER
// ======


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background: rgba(36, 36, 36, 0.3);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}

// Alignment
// ---------

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header ul li {
    display: inline-block;
    height: 75px;
    margin: 0 15px;
}

header ul li:nth-child(2n) {
    width: 100%;
}

header ul a {
    text-decoration: none;
    outline: none;
}

// Header title
// ------------

header h1 {
    font-family: 'Raleway', 'Arial';
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    color: #d9d9d9;
    line-height: 75px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.05em;
    white-space: nowrap;
}

header h1 small {
    font-weight: 300;
    text-transform: none;
    font-size: 20px;
    line-height: 75px;
    margin-left: 15px;
}

header h1 small::before {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 55px;
    background: rgba(214, 214, 214, 0.7);
    top: 10px;
    transform: translate(-9px, 0);
}

// Header search
// -------------

header input[type=search] {
    padding: 16px 20px;
    margin: 12px 0;
    border: 0;
    outline: 0;
    width: 70%;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    color: #d9d9d9;
    transition: 0.4s;
    font-family: 'Raleway', 'Arial';
    font-weight: 300;
    font-size: 14px;
}

header input[type=search]:hover, header input[type=search]:focus {
    background: rgba(217, 217, 217, 0.4);
}

// Header links
// ------------

header ul li a {
    font-family: 'Raleway', 'Arial';
    font-weight: 300;
    font-size: 20px;
    color: #d9d9d9;
    line-height: 75px;
    margin: 0 5px;
    padding: 0;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-decoration: none;
}

// Make it responsive
// ------------------

@media (max-width: 800px) {
    header input[type=search] {
        width: 90%;
    }
}
@media (max-width: 550px) {
    header ul li { 
        display: block;
        text-align: center;
        margin: 0;
    }
    header ul {
        display: block;
    }
    header {
        height: 75px * 3;
    }
}


// NAVIGATION
// ==========


// Alignment
// ---------

nav {
    position: fixed;
    top: 75px;
    left: 0;
    min-width: 300px;
    bottom: 0;
    background: rgba(36, 36, 36, 0.5);
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.25);
}

// List format
// -----------

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin: 25px;
    border-radius: 3px;
    padding: 15px;
    white-space: nowrap;
    transition: 0.2s;
}

nav a {
    font-family: 'Raleway', 'Arial';
    font-weight: 300;
    font-size: 14px;
    color: #d9d9d9;
    text-decoration: none;
    letter-spacing: 0.05em;
    outline: none;
}

nav ul li i {
    width: 35px;
    text-align: center;
}

// Hover & Active styles
// ---------------------

nav ul li.active {
    background: rgba(217, 217, 217, 0.2);
}

nav ul li.active:hover {
    background: rgba(217, 217, 217, 0.3);
}

nav ul li:hover {
    background: rgba(217, 217, 217, 0.07);
}



// MAIN AREA
// =========

.main {
    position: fixed;
    top: 77px;
    left: 340px;
    right: 40px;
    bottom: 1px;
    overflow: auto;
}

.fullscreenmain {
    position: fixed;
    top: 115px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}

.main::-webkit-scrollbar {
    width: 5px;
}
  
.main::-webkit-scrollbar-thumb:vertical {
    margin: 5px;
    background-color: #999;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
  
.main::-webkit-scrollbar-button:start:decrement,
.main::-webkit-scrollbar-button:end:increment {
    height: 5px;
    display: block;
}