/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    overflow: hidden;
}

body::before {
    position: absolute;
    content: ' ';
    background-image: url(assets/BG.png);
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}

body::after {
    content: ' ';
    background: linear-gradient(180deg, #7D7D7D 0%, #858585 70.17%, #141414 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
    opacity: 0.6;
    z-index: -1;
}

/* Default for p, h1 and h2 */
p, h1, h2, small {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}