<div id="flexdiv">
  <div id="row1">
    <div id="pkgdownloads">
      <h3>Package downloads (today):</h3>
      <p>{{ pkgdownloads }}</p>
    </div>

    <div id="pkgviews">
      <h3>Package views (today):</h3>
      <p>{{ pkgviews }}</p>
    </div>

    <div id="serverusage">
      <h3>Server usage:</h3>
      <p>{{ serverusage }}</p>
    </div>
  </div>

  <div id="row2">
    <div id="mostpopularapps">
      <h3>Most popular - apps</h3>
      <p *ngFor="let pkg of mostpopularapps">
        {{ pkg }}
      </p>
    </div>
    <div id="mostpopularrfe">
      <h3>Most popular - RFE</h3>
      <p *ngFor="let pkg of mostpopularrfe">
          {{ pkg }}
        </p>
    </div>
  </div>
</div>