#flexdiv {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#row1 {
    margin-bottom: 20px;
}
#row2 {
    height: 100%;
}

#pkgdownloads {
    margin: 0;
    width: 30%;
    background: rgba(36, 36, 36, 0.5);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 30px 0;
    display: inline-block;
}

#pkgviews {
    margin: 0;
    margin-left: 4%;
    width: 30%;
    background: rgba(36, 36, 36, 0.5);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 30px 0;
    display: inline-block;
}

#serverusage {
    margin: 0;
    margin-left: 4%;
    width: 30%;
    background: rgba(36, 36, 36, 0.5);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 30px 0;
    display: inline-block;
}

div h3 {
    color: #d9d9d9;
    padding: 0 0 20px 0;
    margin: 0;
    font-family: 'Raleway', Arial;
    letter-spacing: 0.05em;
    font-size: 16pt;
    font-weight: 700;
}

div p {
    color: #d9d9d9;
    padding: 0 10px;
    margin: 0;
    font-family: 'Raleway', Arial;
    letter-spacing: 0.05em;
    font-size: 12pt;
    font-weight: 300;
}

#mostpopularapps {
    height: calc(100% - 60px);
    margin: 0;
    width: 47.5%;
    background: rgba(36, 36, 36, 0.5);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 30px 0;
    float: left;
}

#mostpopularrfe {
    height: calc(100% - 60px);
    margin: 0;
    margin-left: 4%;
    width: 47.5%;
    background: rgba(36, 36, 36, 0.5);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 30px 0;
    float: right;
}
#row2 p {
    line-height: 1.7;
}